body {
    @include text-body;
    @include display-body;
    @include dark-theme;
}

.container {
    @include display-container;
}

.menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}