@mixin logo {
    width: 15rem;
    height: 15rem;
}

@mixin light-theme {
	color: $granite; 
    font-family: $times-new-roman;
    font-size: 1.3rem;
    background-color: $almost-white;
    .logo {
        border-radius: 10%;
    }
    .shadow {
        border-radius: 10%;
        box-shadow: 10px 10px 18px -8px darkslategrey;
    } 
    .button {
        color: #C9A09A;
        background: #474168;
    }
}

@mixin dark-theme {
    color: $almost-white;
    font-family: $open-sans;
    font-size: 1.2rem;
    background-color: $granite;
    .logo {
        border-radius: 0;
    }
    .shadow {
        box-shadow: -10px -10px 18px -8px grey;
    }
    .button {
        color: #474168;
        background: #C9A09A;
    }
}

@mixin  display-container {
	width: 100vw;
	height: 100vh;
    margin: auto;
    display: inline-flex;
    flex-flow: column;	
}

@mixin display-main {
    padding: 2% 5%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
        padding: 0 3rem;
    }
}

@mixin display-menu {
    padding: 10% 5%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

@mixin button {
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
}