@mixin logo {
    width: 15rem;
    height: 15rem;
}

@mixin light-theme {
	color: $bg-dark; 
    background-color: $bg-light;
    font-family: $font-light;
    font-size: 1.3rem;
    .logo {
        border-radius: 10%;
    }
    .shadow {
        border-radius: 10%;
        box-shadow: $shadow-light;
    } 
    .button {
        color: $button-light;
        background: $button-dark;
    }
}

@mixin dark-theme {
    color: $bg-light;
    background-color: $bg-dark;
    font-family: $font-dark;
    font-size: 1.3rem;
    .logo {
        border-radius: 0;
    }
    .shadow {
        box-shadow: $shadow-dark;
    }
    .button {
        color: $button-dark;
        background: $button-light;
    }
}

@mixin  display-container {
	width: 100vw;
	height: 100vh;
    margin: auto;
    display: inline-flex;
    flex-flow: column;	
}

@mixin display-main {
    padding: 2% 5%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
        padding: 0 3rem;
    }
}

@mixin display-menu {
    padding: 10% 5%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

@mixin button {
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
}