@import url(http://fonts.googleapis.com/css?family=Fjalla+One|Open+Sans:400italic,700italic,400,700);

$times-new-roman: 'Fjalla One', serif;   
$open-sans: 'Open Sans', sans-serif;

$pure-white: #FFF;
$almost-white: rgb(238, 238, 238);
$granite: rgb(46, 43, 43);


$soft-weight: 100;
$regular-weight: 400;